
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-md-4">
            <label for="inputNameFirst">First Name</label>
            <input type="text" class="form-control" id="inputNameFirst" placeholder="Enter your first name" />
        </div>
        <div class="col-md-4">
            <label for="inputNameLast">Last Name</label>
            <input type="text" class="form-control" id="inputNameLast" placeholder="Enter your last name" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4">
            <label for="inputEmail">Email Address</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Some Options
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-default">Send</button>
        </div>
    </div>
</form>

